
  
  
  
.wrap {
    margin: 35px auto;
    width: 240px;
}

#date_label {
    display: block;
    width: 248px;
    color: rgba(0, 0, 0, 0.58);
    margin-left: 5px;
}

body.highcontrast #date_label {
    color: white;
}

.e-highlightweekend {
    background-color: #cfe9f3;
}
