
  
  
  
  
  
  
  
  

  .e-schedule .e-vertical-view .e-resource-cells {
        height: 45px;
    }

    .e-schedule .e-agenda-view .template-wrap .resource-text {
        text-align: center;
    }

    .e-schedule .template-wrap .resource-text {
        font-size: 15px;
        padding: 4px 4px 4px;
        height: 25px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
