.custom-event-editor .e-textlabel {
   padding-right: 15px;
   text-align: right;
}

.custom-event-editor td {
   padding: 7px;
   padding-right: 16px;
}

/* csslint ignore:start */
.e-schedule .e-more-popup-wrapper .e-header-date {
   font-size: 15px !important;
   max-width: 44% !important;
 }
 /* csslint ignore:end */