#element {
    max-width: 550px;
    margin: 50px auto;
}

iframe {
	height: 500px;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}
