









.templatewrap {
  text-align: center;
  /* In MONTH view the cell template is a SIBLING of event templates. So which is necessary to set the parent position relative and the child position absolute with 100% width */
  position: absolute;
  width: 100%;
}

.schedule-cell-template.e-schedule .e-month-view .e-work-cells {
  position: relative;
}

.templatewrap img {
  width: 20px;
  height: 20px;
}
