/* csslint ignore:start */
.content-wrapper {
    display: -ms-flexbox;
    display: flex;
  }
  
  .e-device-hover {
    background-color: #e0e0e0 !important;
  }
  
  .schedule-container {
    padding-right: 10px
  }
  
  .title-container {
    padding-bottom: 10px;
  }
  
  .treeview-external-drag .e-list-text,
  .e-bigger .treeview-external-drag .e-list-text {
    background: white;
    border: 0.5px solid #E1E7EC;
    height: 30px;
    line-height: 15px;
    padding: 5px;
    width: 220px;
  }
  
  .treeview-external-drag .e-list-parent,
  .e-bigger .treeview-external-drag .e-list-parent {
    height: 100%;
    padding: 0 2px;
  }
  
  .treeview-external-drag .e-list-item,
  .e-bigger .treeview-external-drag .e-list-item {
    height: 100%;
    padding: 0 0 5px 0;
  }
  
  .treeview-external-drag .e-fullrow,
  .e-bigger .treeview-external-drag .e-fullrow {
    height: 55px;
  }
  
  .treeview-external-drag .e-list-item.e-hover>.e-fullrow,
  .treeview-external-drag .e-list-item.e-active>.e-fullrow,
  .treeview-external-drag .e-list-item.e-active.e-hover>.e-fullrow,
  .e-bigger .treeview-external-drag .e-list-item.e-hover>.e-fullrow,
  .e-bigger .treeview-external-drag .e-list-item.e-active>.e-fullrow,
  .e-bigger .treeview-external-drag .e-list-item.e-active.e-hover>.e-fullrow {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important;
  }
  
  .treeview-external-drag .e-text-content,
  .e-bigger .treeview-external-drag .e-text-content {
    padding: 0;
  }
  
  .e-drag-item.e-treeview.treeview-external-drag,
  .e-bigger .e-drag-item.e-treeview.treeview-external-drag {
    padding: 0 !important;
  }
  
  .title-text {
    font-size: 18px;
    margin: 0px;
    font-weight: bold;
    text-align: center;
  }
  
  @media (max-width: 550px) {
    .content-wrapper {
      display: block;
    }
  
    .schedule-container {
      padding-bottom: 10px
    }
  
    .treeview-external-drag.e-treeview,
    .e-bigger .treeview-external-drag.e-treeview {
      width: 225px;
    }
  
    .e-bigger .treeview-external-drag.e-treeview.e-drag-item {
      position: relative !important;
    }
  }
  /* csslint ignore:end */
  